body {
      font-family:'Noto Sans KR';
      font-style: normal;
    }
    
.background_darker{
    background-color: #C4C4C4;
    transition: background-color 0.5s ease-in-out;
}

.background_white{
    background-color: #FFFFFF;
    transition: background-color 0.5s ease-in-out;
}
    
#intro_svg_div{
    height: 100%;
    position: relative;
}
    
#intro_graph{
    position: absolute;    
    top: 0px;
    width: 700px;
}

#intro_svg{
    margin: 0px auto;
}

.intro_svg_div_fixed #intro_graph{
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
}

.intro_svg_div_bottom #intro_graph{
    bottom: 0px;
    top: auto;
}

.blank_60{
    height:60px;
}

.blank_80{
    height:80px;
}
.blank_150{
    height:150px;
}

.blank_200{
    height:200px;
}

.blank_300{
    height:300px;
}

.test{
    border: 1px solid red;
}

.test2{
    border: 1px solid blue;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.opacity_inactive{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.opacity_active{
    opacity: 1;
    transition-delay: 0.2s;
    transition: opacity 0.2s ease-in-out;
}

/*barcode part*/
#barcode_div2 { display: none; }

#barcode_div3 { display: none; }

#barcode_div4 { display: none; }

#barcode_div5 { display: none; }

/* toggle styles: same as treemap */
#toggle_barcode {
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

span {
  width: 85px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

span.active {
  font-weight: bold;
  color:  rgb(65, 65, 65);
}


/* Scatter_plot */

.highlight{
  opacity: 0.2;
  fill:orange;
}

.circle_opacity_045 {
    opacity: 0.45;
  }
  
  
   .tick text {
    font-size: 15px;
    fill: #635F5D;
  }

  .tick line {
    stroke: #e3e3e3;
  }

  .axis-label {
    font-size: 15px;
    fill: #8E8883;
  }
  
/*.male_rect_whole{*/
/*    x: 170;*/
/*    y: 300;*/
/*    width: 400;*/
/*    height:200;*/
/*    transition: x 0.2s ease-in-out, y 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out,;*/
/*}*/

/*.male_rect_romance{*/
/*    x: 300;*/
/*    y: 200;*/
/*    width: 130;*/
/*    height:130;*/
/*    transition: x 2s ease-in-out, y 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out,;*/
/*}*/

/*.male_rect_comedy{*/
/*    x: 170;*/
/*    y: 340;*/
/*    width: 350;*/
/*    height:250;*/
/*    transition: x 0.2s ease-in-out, y 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out,;*/
/*}*/


/*          <rect class="highlight" x="170" y="300" width="400" height="200"></rect>*/

/*<!-- romance -->*/
/*<!--           <rect class="highlight" x="300" y="200" width="130" height="130"></rect> -->*/

/*<!-- comedy -->*/
/*<!--           <rect class="highlight" x="170" y="340" width="350" height="250"></rect> -->*/


/*TreepMap*/

#disgust { display:none; }
#sadness { display:none; }
#fear { display:none; }
#surprise { display:none; }
#anger { display:none; }
#neutral { display:none; }

#toggle_treemap {
    width: 535px;
    text-align: center;
    padding: 1px;
    font-size: 12px;
    font-family: Noto Sans KR
}

#toggle_treemap > span {
    width: 70px;
}